
        button {
            position: absolute;
            right: 0px;
            z-index: 15;
            margin-top: 60px;
        }

        #search {
            margin-top: 60px;
        }
        .conta{
            display: flex;
            align-items: center;
        }
        .scroll{
            min-width: 200px;
            margin: 5px 10px;
            min-height: 340px;
        }
        .undefined{
            min-height: 300px;
        }
        .II {
            position: absolute;
            bottom: 15px;
            width: 84%;
        }
        .I,.III{
            position: absolute;
            bottom: 5px;
            width: 84%;
        }
        .main {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h4 {
            text-align: center;
            margin-top: 50px;
        }
        a.btn.btn-primary {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3%;
            transition: all 0.8s;
        }
        a.btn.btn-primary:hover{
            background-color: brown;
        }
        #hover:hover{
            background-color: rgb(95, 235, 95);
        }
        .alert1 {
            display: none;
        }

        .alert2 {
            display: none;
        }

        .alert {
            position: absolute;
            width: 100%;
            z-index: 10;
            top: -1px;
        }

        .container {
            height: 400px;
            overflow: scroll;
        }

        .container::-webkit-scrollbar {
            scroll-snap-type: none;
            scrollbar-face-color: aqua;
        } 

        #div2 {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 7%;
            justify-content: center;
        }
        #div {
            margin-top: 15px;
        }
        p {
            margin-bottom: 0.1rem;
        }

        .delete {
            width: 100% !important;
        }