#favrte {
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 15;
    margin-top: 60px;
    filter: drop-shadow(2px 4px 6px black);
    /* fliter:drop-shadow is alternat of box shadow in which only image's main content will get shadow  */
}

.fltleft {
    width: 145px;
    position: absolute;
    top: 0px;
    left: -40px;
    /* mix-blend-mode: color-burn; for doing background color of page and image background color same. */
}

.cntr {
    position: absolute;
    top: -17px;
    width: 200px;
    /* left: 65px; */
    /* mix-blend-mode: color-burn; */
    z-index: -1;
}

body {
    background-color: cadetblue;
}

#search {
    margin-top: 60px;
    text-align: center;
    outline: none;
}

.conta {
    display: flex;
    align-items: center;
}

.scroll {
    min-width: 200px;
    margin: 5px 10px;
    min-height: 340px;
}

.undefined {
    min-height: 300px;
}

.II,
.IV,
.V,
.VI {
    position: absolute;
    bottom: 15px;
    width: 84%;
}

.I,
.III {
    position: absolute;
    bottom: 5px;
    width: 84%;
}

.lrbtn {
    position: relative;
}

#left,
#right {
    position: absolute;
    top: 0;
    height: 100%;
    width: 10%;
    background: transparent;
    border: none;
}

.tj {
    height: fit-content !important;
    box-shadow: 1px 2px 35px inset black;
}

.inset {
    box-shadow: 1px 2px 35px inset black;
}

#right {
    right: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: antiquewhite; */
    background: white;
    position: sticky;
    max-height: 105px;
    min-height: 105px;
    top: 0px;
    z-index: 14;
    box-shadow: 0px 1px 10px 1px black;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
}

h4 {
    text-align: center;
    margin-top: 50px;
}

a.btn.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    transition: all 0.8s;
    background: black;
}

a.btn.btn-primary:hover {
    background-color: brown;
}

#hover:hover {
    background-color: rgb(95, 235, 95);
}

.card:hover {
    box-shadow: 1px 2px 5px black;
}

.alert1,
.alert2 {
    display: none;
}

.alert {
    position: sticky;
    width: 100%;
    z-index: 27;
    top: 0px;
}

.container {
    height: 400px;
    overflow: scroll;
    /* filter: drop-shadow(2px 4px 6px black); */
}

.container::-webkit-scrollbar,#div2::-webkit-scrollbar {
    display: none;
}

#div2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7%;
    justify-content: center;
    position: absolute;
    z-index: 5;
    max-height: 3000px;
    overflow: scroll;
}

#div {
    margin-top: 15px;
}

p {
    margin-bottom: 0.1rem;
}

.delete {
    width: 100% !important;
}


@media only screen and (max-width:425px) {

    .null {
        width: 13rem !important;
        box-shadow: 0px 35px 15px 1px black;
    }

    .tomj {
        height: 150px;
    }
}

@media only screen and (min-width:585px) and (max-width:768px) {
    .null {
        width: 25rem !important;
        box-shadow: 0px 35px 15px 1px black;
    }

    .tomj {
        height: 310px !important;
    }

    #search {
        width: 15rem;
    }
}

@media only screen and (min-width:768px) {
    .null {
        width: 35rem !important;
        box-shadow: 0px 35px 15px 1px black;
    }

    .tomj {
        height: 350px !important;
    }

    #search {
        width: 20rem;
    }
}

/* footer css start  */

footer {

    background-color: #202020;
    display: flex;
    justify-content: space-around;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    font-size: 1.2em;
}
a{
    color: white;
    text-decoration: none;
}
.foot {
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    justify-content: flex-start;
    color: #ffffff;
}

@media (max-width:768px) {

    footer {
        background-color: #ffffff;
        background-attachment: fixed;
        display: flex;
        justify-content: space-around;

    }

    .foot {
        font-size: .6rem;
        color: black;
    }
    a {
        text-decoration: none;
        color: black;
    }
}

.em {

    background: transparent;
    border: none;
}

span.social {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    align-items: center;
    margin-left: -8px;
}

.xyz {

    margin-top: 15px;
}

.h22 {
    margin-top: 0px;
    text-decoration: underline;
}

.fa-instagram {
    padding-right: 2px;
    padding-top: 1px;
}


/* footer css end */